:root {
    --table-main-gray-color: #ddd;
    --table-main-gray-light-color: #ddddddcc;
    --table-row-deleted-color: #ff6e6e38;
    --table-row-received-color: rgba(100, 255, 0, 0.22);
    --table-row-overdue-color: trasparent;
    --white-color: white;
}

.table-wrap {
    width: 100%;
    overflow-x: auto;

    .table {
        width: 100%;
        border-spacing: 0;
        border-radius: 8px 8px 0 0;
        border: 1px solid var(--table-main-gray-color);

        .table-header {
            background-color: var(--table-main-gray-color);
            padding: 10px 8px;

            &:first-child {
                border-top-left-radius: 7px;
            }

            &:last-child {
                border-top-right-radius: 7px;
            }
        }

        .table-data-row {
            transition: .2s ease-in-out;
            
            &.deleted .table-data{
                background-color: var(--table-row-deleted-color);
            }

            &.received .table-data, &.received_in_cash .table-data {
                background-color: var(--table-row-received-color);
            }

            &:hover {
                background-color: var(--table-main-gray-light-color);
            }

            .table-data {
                border-bottom: 1px solid var(--table-main-gray-color);
                border-top: 1px solid transparent;
                border-left: 1px dashed var(--table-main-gray-light-color);
                padding: 4px 10px;
                white-space: nowrap;
                overflow-x: hidden;

                &.value {
                    text-align: center;
                }

                &.actions {
                    display: flex;
                    justify-content: space-evenly;
                    height: 100%;
                    gap: 5px;
                }
            }
        }
    }

    .table-footer {
        border-radius: 0 0 8px 8px;
        background-color: var(--table-main-gray-color);
        padding: 15px;
        display: flex;
        justify-content: center;
    }
}

.pagination-container {
    background-color: var(--table-main-gray-color);
    border-radius: 0 0 8px 8px;
    display: grid;
    grid-template-columns: .5fr auto .5fr;
    padding: 8px 20px;

    .pagination-select-range {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;

        .select-wrap {
            width: 75px;
        }
    }

    .pagination-controllers {
        width: 100%;
        display: flex;
        justify-content: center;

        .pagination-buttons-container {
            display: flex;
            gap: 10px;
            justify-content: center;

            .button-background {
                background-color: var(--white-color);
                border-radius: .25rem;
            }
        }
    }
}