.external-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .external-header {
        background-color: black;
        padding: 2rem;
        display: flex;
        justify-content: center;

        .external-header-logo {
            max-height: 8rem;
        }
    }

    .external-main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .external-footer {
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        padding: 2rem;
    }
}